{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}
  <h1>Members</h1>
  <ul class="nav">
      <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
      <li><a href="about/">About</a></li>
      <li><a href="contact/">Contact</a></li>
  </ul>
  
  <ul>
    {% for x in mymembers %}
    <div class="member-list">
      <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    </div>
    {% endfor %}
  </ul>
{% endblock %}